version: '3.8'

services:
  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    ports:
      - "${SERVER_PORT}:3001"
    volumes:
      - ./server/data:/usr/src/app/data
      - ./server:/usr/src/app
      - /usr/src/app/node_modules
    


  client:
    build:
      context: ./client
    ports:
      - "${CLIENT_PORT}:${CLIENT_PORT}" # Map the client port
    environment:
      - CLIENT_PORT=${CLIENT_PORT} # Pass the client port to the container
    volumes:
      - ./client:/usr/src/app
    depends_on:
      - server
    

volumes:
  server_data:
